{% extends 'base_administrador.html' %}

{% block content %}
    <div class="mt-5">
        <h1>Detalles del Proveedor</h1>

        <!-- Mostrar los detalles del proveedor -->
        <div class="mb-3">
            <strong>Nombre:</strong> {{ proveedor.nombre }}
        </div>
        <div class="mb-3">
            <strong>RUC:</strong> {{ proveedor.ruc }}
        </div>
        <div class="mb-3">
            <strong>Dirección:</strong> {{ proveedor.direccion }}
        </div>
        <div class="mb-3">
            <strong>Teléfono:</strong> {{ proveedor.telefono }}
        </div>
        <div class="mb-3">
            <strong>Email:</strong> {{ proveedor.email }}
        </div>

        <!-- Agregar más detalles si es necesario -->
        {% if proveedor.otro_campo %}
            <div class="mb-3">
                <strong>Otro Campo:</strong> {{ proveedor.otro_campo }}
            </div>
        {% endif %}

        <a href="{% url 'proveedores:lista_proveedores' %}" class="btn btn-link mt-4">Volver a la lista de proveedores</a>
        <a href="{% url 'proveedores:crear_proveedor' %}" class="btn btn-secondary mt-4">Crear otro proveedor</a>
    </div>
{% endblock %}